.page-container
  h1 Ray's Trading Journal {{time}}
  input(type="date" ng-model="inputTime")
  input(type="time" ng-model="inputTime")
  input(type="text" ng-model="entry")
  button(ng-click="submit()") Submit
  .entry(ng-repeat="e in entries") {{e}}
